;;;;;;;;;;;;;;;;
;   env.ini	   ;
;;;;;;;;;;;;;;;;

; Yii core constants
YII_DEBUG 	= 1
YII_ENV 	= dev


[logging]
; Send the app error log via email
EMAIL_LOGGER = 0

[database]
DSN 			= "mysql:host=localhost;port=3306;dbname=startkit"
USERNAME 		= root
PASSWORD 		= password
TABLE_PREFIX 	=

[redis]
HOST = localhost
PORT = 6379
PASS =

[email]
SMTP_HOST 		= smtp.example.com
SMTP_USENAME 	= admin@exaple.com
SMTP_PASSWORD 	= password
SMTP_PORT		=

ADMIN_EMAIL    	= admin@example.com

[storage]
QN_ACCESS_TOKEN 		= qn_access_token
QN_SECURITY_TOKEN 		= qn_security_token
QN_BUCKET_IMG 			= img_bucket
QN_IMG_BUCKET_PREFIX	= https://dn-app.qbox.me/

[payment]
ALIPAY_KEY 		= xxxxxxx
ALIPAY_PARTNER 	= 800032131312

PAYPAL_ID 		=
PAYPAL_SECRET	=

[app]
FRONTEND_URL    = http://www.startkit.com
BACKEND_URL     = http://admin.startkit.com
FRONTEND_DOMAIN = startkit.com
COOKIE_DOMAIN   = .startkit.com

[security]
FRONTEND_COOKIE_VALIDATION_KEY 	= <generated_cookie_validation_key>
BACKEND_COOKIE_VALIDATION_KEY 	= <generated_cookie_validation_key>
